<img src="/images/logo.png">
<p>Contact informations: <ul><li><a href="mailto:j.lepoivre@saki-studio.com">j.lepoivre@saki-studio.com</a>.</li><li> <a href="mailto:franck.lepoivre@platypus.academy">franck.lepoivre@platypus.academy</a>.</li></ul></p>
