<nav>
    <a href="/">Home</a> <!-- if selected, class="cur-->
    <a href="/play">New game</a> 
    <a href="/scores">Scores</a>
</nav>
<!--ul id="list"></ul-->
<script>
/*$.ajax({
url: "/users"
}).done(function(data) {
console.log(data);
for (i in data){
    $('#list').append('<li>'+data[i].nom+' '+data[i].prenom+'</li>');
}
}).fail(function(req,text_status,err){
alert(text_status);
});*/
</script>